<h1>Nova reserva</h1>

<p><%= link_to 'Voltar', reservas_path %></p>

<% form_for(@reserva) do |f| %>
  <%= render 'formulario', :f => f %>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<p><%= link_to 'Voltar', reservas_path %></p>
