<p>Software de hotelaria.</p>
<p>Feito em Ruby e Ruby on Rails.</p>
<p>Integrantes:<br />
  Álvaro Tavares (Designer);<br />
  Ceza Lima (Designer);<br />
  Dmitry Rocha (Programador);<br />
  Losangelo Pacífico (Gerente de projeto e auxiliar de Designer).</p>
