<h1>Editar Usuário</h1>

<% form_for(@usuario) do |f| %>
  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @usuario %> |
<%= link_to 'Voltar para Todos os usuários', usuarios_path %>
