<h1>Novo Usuário</h1>

<% form_for(@usuario) do |f| %>
  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar para Todos os usuários', usuarios_path %>
