<h1>Edição de Hospedagem</h1>

<% form_for(@hospedagem) do |f| %>
  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Ver', @hospedagem %> |
<%= link_to 'Todas', hospedagens_path %>
