<h1>Nova Hospedagem</h1>

<% form_for(@hospedagem) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Todos', hospedagens_path %>
