<h1>Nova Hospedagem</h1>

<p><%= link_to 'Todos', hospedagens_path %></p>

<% form_for(@hospedagem) do |f| %>
  <%= render :partial => 'formulario', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<p><%= link_to 'Todos', hospedagens_path %></p>
