/*
 * CSS do Menu de Opções
 * by update: Losangelo Pacífico 01/09/2010
 * lin4tec News
 * ------------------------------------------
 * losangelo@gmail.com

*/



/*
 * Espacamento entre o menu de opcoes
 * e o h1 titulo.
 */
 .wrapper1{
	color: #44433f;
	font: 13px "Futura Medium", "Myriad Pro", "Gill Sans", Helvetica, Verdana, Arial, sans-serif;
	margin: 0 0;
	margin-top:0px;
	margin-bottom:0px;
	line-height:9px;                           /*Altura padrao das linhas ex: menus de opção*/
	padding: 4px 0 0;
	width:100%;

	}
	.wrapper1 a{
		color: black;
		text-decoration: none;
	}
	.wrapper1 a:hover {
		color: #09548B;
	}
	.wrapper1 p {
		margin: 0 0 17px auto;
		padding: 0;
		line-height: 10px;
	}

/*
 * controla a distãncia
 * entre o menu o e titulo
 */
.wrapper {
	width: 707px; 		                    /*Se quiser centralizar é só descomentar esta.*/
	margin: 0px auto;                       /*margem esquerda do dgbrid e alinhamento*/
}
.nav {
	background: #fff url(images/nav_bg.png) repeat-x;
	float: left;
}
.nav-wrapper {
	clear: both;
	float: center;                          /*update: losangelo: valor anterior -> left */
}

/* é o inicio do menu a curva */
.nav-left {
	background: url(images/nav_left.png) no-repeat top left;
	float: left;
	width: 10px;
	height: 40px;
}

/* é o fim do menu a curva - coluna em pixel */
.nav-right {
	background: url(images/nav_right.png) no-repeat top right;
	float: left;
	width: 10px;                            /*update: losangelo: 18.11 as 8:45*/
	height: 40px;
}

/* controla distancia entre o menu e o box */
.nav ul {
	/*width: 648px; */
	height: 37px;
	float: left;
	margin: 0;
	padding-top: 3px;
	list-style: none;
	font-size: 15px;
}

/*Altera o tamanho da barra de navegacao (onde fica os menus principais)*/
.nav li {
	float: left;
	padding: 0 7px;
	background: url(images/split.png) no-repeat right center;
	position: relative;
	z-index: 1;
}
.nav li.last {
	background:none;
	padding-right: 281px;
}
.nav li:hover {
	z-index:2;
}
.nav li a {
	display: block;
	line-height: 38px;
	overflow: hidden;
	float: left;
}

/*
 * propriedade da ponta ESQUERDA do menu
 * Complemento da Área branca onde o Texto da Opção de menu fica, o lado da curva.
 */
a .menu-left {
	background: url(images/menu_left.gif) no-repeat left top;
	width: 6px;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}

/*
 * propriedade do MEIO a do menu
 * Área branca onde Texto da Opção de menu fica, o CENTRO Do menu.
 */
a .menu-mid {
	background: url(images/menu_mid.gif) repeat-x top left;
	height: 32px;
	line-height: 35px;
	display: block;
	float: left;
}

/*
 * propriedade da ponta direita do menu
 * Complemento da Área branca onde o Texto da Opção de menu fica, o lado da curva.
 */
a .menu-right {
	background: url(images/menu_right.gif) no-repeat top right;
	width: 18px;                         /*update: losangelo: 18.11 as 8:45*/
	height: 32px;
	line-height: 35px;
	display: block;
	float: right;
}
.nav li a:hover .menu-left,
.nav li.active a .menu-left,
.nav li:hover a .menu-left,
.nav li a:hover .menu-mid,
.nav li.active a .menu-mid,
.nav li:hover a .menu-mid,
.nav li a:hover .menu-right,
.nav li.active a .menu-right,
.nav li:hover a .menu-right {
	background-position: 0 -37px;
	line-height: 35px;
}
.nav li a:hover,
.nav li.active a,
.nav li.hover a,
.nav li:hover a {
	color: #09548B;
}
.nav li:hover .sub,
.nav li.hover .sub {
	display:block;
}
.nav li .sub {
	display: none;
	position: absolute;
	top: 27px;
	left: 6px;
	background: url(images/submenu_top.png) no-repeat;
	width: 186px;
	padding-top: 9px;
}
.nav li ul {
	background: url(images/submenu_bg.png) repeat-y;
	width: 162px;
	height: auto;
	margin: 0;
	padding: 0 12px 10px;
	list-style: none;
	font-size: 13px;
}

.nav li:hover li,
.nav li.active li {
	width: 100%;
	padding: 1px 0 2px;
	border-bottom: 1px #C1D9F0 dashed;
	background: none !important;
}
.nav li:hover li a,
.nav li.active li a {
	color: #09548B;
	background: none !important;
	line-height: normal;
	width: 156px;
	padding: 8px 3px 3px;
	text-indent: 1px;
}
.nav li:hover li a:hover,
.nav li.active li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
/*IE*/
.nav li li a:hover,
.nav li li a:hover {
	color: #fff;
	background: #165B9F !important;
	text-decoration: none;
	line-height: normal;
}
.nav .btm-bg {
	background: url(images/submenu_bottom.png) no-repeat;
	width: 205px;
	height: 9px;
	overflow: hidden;
	clear: both;
}

/*
 * Controla área branca onde fica o
 * CONTEUDO/content (dbgrid) é o box central
 */
.content {
	width: 700px;
	background: transparent url(images/content_bg.png) repeat-y;
	float: left;
	padding: 5px;	                    /* controla as margens do dbgrig. */
}
.content h1 {
	color: #333;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px dashed #C1D9F0;	/*Linha pontilhada abaixo do titulo*/
}
.content h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 10px;
	margin-bottom: -5px;
}
.content p {
	padding: 2px 15px;                   /*update: losangelo: 18.11 as 8:45 padding:0 15 */
	text-align: justify;
}

/*ultima imagem do rodapé*/
.content-bottom {
    background: transparent url(images/content_bottom.png) no-repeat;
	width: 707px;                       /*update: losangelo: 18.11 as 8:45*/
	height: 13px;
	float: left;
}

